<!DOCTYPE html>
<html>
    <head>
        
</head>
        <body>
                <h1> Partial Headers</h1>
                <a href="/about">About</a>
                <a href="/weather" onclick='setURL(this)'>Weather</a>
                <a href="/help">Help</a>
        </body>
</html>


