<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <h2>Summary:{{location}}</h2>
        <h2>Summary:{{summary}}</h2>
        <h2>Temperator:{{temperature}}degrees</h2>
        <h2>Chances of Rain:{{precipProbability}}%</h2>
        
    </body>
    <footer>{{>footer}}</footer>
</html>